* {
  padding: 0;
  margin: 0;
}

.navbar {
  height: 14vh;
  background-image: linear-gradient(
    to left,
    black,
    rgb(28, 25, 25) 30%,
    rgb(46, 43, 43) 100%
  );
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  color: white;
  width: 120px;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 100px;
}

.nav-button {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  margin-left: 600px;
  list-style: none;
}

.home a {
  color: white;
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
}
.about a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.nav-button i:hover {
  color: rgb(146, 146, 224);
}

.about a:hover {
  color: rgb(146, 146, 224);
}

.home a:hover {
  color: rgb(146, 146, 224);
}
.contact a:hover {
  color: rgb(146, 146, 224);
}

.contact a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.nav-button i {
  color: white;
}

.nav-product {
  width: 100px;
  margin-left: 50px;
  margin-right: 20px;
}

.product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: bolder;
}

.product:hover {
  color: rgb(146, 146, 224);
}

.nav-authentication {
}

.dropdown-container {
  width: 80px;
  position: relative;
  text-align: center;
  color: rgb(146, 146, 224);
  font-weight: bolder;
  margin-bottom: 5px;
  z-index: 2;
}

.dropdown-container:hover {
  top: 30px;
}

.dropdown-container:hover .dropdown-content {
  display: inline;
}

.registration {
  color: rgb(146, 146, 224);
  margin-bottom: 5px;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: rgb(148, 141, 131);
  color: white;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 5px;
  border: 2px solid rgb(201, 184, 184);
  border-radius: 2px;
}

.main {
  height: 72vh;
  background-image: linear-gradient(
    to right,
    black,
    rgb(28, 25, 25) 50%,
    rgb(46, 43, 43) 100%
  );
  position: relative;
}

.main-section {
  height: 200px;
  position: absolute;

  top: 140px;
  right: 372px;
}

.main_section_password {
  height: 100%;
  width: 100%;
  display: none;
}
.label_password {
  color: #e76d09;
  font-size: 30px;
  position: absolute;
  top: 32px;
  right: 515px;
  font-weight: bolder;
}

#password {
  background-color: #e76d09;
  font-size: 30px;
  position: absolute;
  top: 32px;
  right: 128px;
}

.label_confirm_password {
  color: #e76d09;
  font-size: 30px;
  position: absolute;
  top: 89px;
  right: 514px;
  font-weight: bolder;
}

#confirm_password {
  background-color: #e76d09;
  font-size: 30px;
  position: absolute;
  top: 89px;
  right: 129px;
}

.submit-btn1 {
  height: 53px;
  width: 103px;
  position: absolute;
  background-color: rgb(36, 32, 32);
  top: 144px;
  right: 81px;
  border: 5px solid #e76d09;
  border-radius: 5px;
  color: #e76d09;
  font-size: 22px;
  font-weight: bolder;
}

.submit-btn1:hover {
  color: #f2f636;
}

.submit-btn2 {
  height: 53px;
  width: 103px;
  position: absolute;
  background-color: rgb(36, 32, 32);
  top: 365px;
  right: 81px;
  border: 5px solid #e76d09;
  border-radius: 5px;
  color: #e76d09;
  font-size: 22px;
  font-weight: bolder;
}

.submit-btn2:hover {
  color: #f2f636;
}

.main_textone {
  text-decoration: none;
  color: #ff7200;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 160px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
}

.otp_verification {
  height: 50px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_texttwo {
  text-decoration: none;
  color: #e76d09;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-right: 10px;
  margin-left: 210px;
  font-size: 30px;
  font-weight: bolder;
}

.otp {
  height: 40px;
  background-color: #ff7200;
}

.footer {
  height: 14vh;
  background-image: linear-gradient(
    to left,
    black,
    rgb(53, 53, 53) 50%,
    rgb(46, 43, 43) 100%
  );
}
