* {
  padding: 0;
  margin: 0;
}

.navbar {
  height: 14vh;
  background-image: linear-gradient(
    to left,
    black,
    rgb(28, 25, 25) 30%,
    rgb(46, 43, 43) 100%
  );
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  color: white;
  width: 120px;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 100px;
}

.nav-button {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  margin-left: 600px;
  list-style: none;
}

.home a {
  color: white;
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
}
.about a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.nav-button i:hover {
  color: rgb(146, 146, 224);
}

.about a:hover {
  color: rgb(146, 146, 224);
}

.home a:hover {
  color: rgb(146, 146, 224);
}
.contact a:hover {
  color: rgb(146, 146, 224);
}

.contact a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.nav-button i {
  color: white;
}

.nav-product {
  width: 100px;
  margin-left: 50px;
  margin-right: 20px;
}

.product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: bolder;
}

.product:hover {
  color: rgb(146, 146, 224);
}

.nav-authentication {
}

.dropdown-container {
  width: 80px;
  position: relative;
  text-align: center;
  color: rgb(146, 146, 224);
  font-weight: bolder;
  margin-bottom: 5px;
  z-index: 2;
}

.dropdown-container:hover {
  top: 30px;
}

.dropdown-container:hover .dropdown-content {
  display: inline;
}

.registration {
  color: rgb(146, 146, 224);
  margin-bottom: 5px;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: rgb(148, 141, 131);
  color: white;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 5px;
  border: 2px solid rgb(201, 184, 184);
  border-radius: 2px;
}

.main {
  height: 72vh;
  background-image: linear-gradient(
    to right,
    black,
    rgb(28, 25, 25) 50%,
    rgb(46, 43, 43) 100%
  );
  position: relative;
}

.email {
  color: #e76d09;
  font-size: 30px;
  position: absolute;
  top: 152px;
  right: 935px;
  font-weight: bolder;
}

.email_input {
  background-color: #e76d09;
  width: 500px;
  font-size: 30px;
  position: absolute;
  top: 150px;
  right: 414px;
}

.submit_btn {
  height: 53px;
  width: 103px;
  position: absolute;
  top: 228px;
  right: 359px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #e76d09;
  border-radius: 5px;
}

.submit_btn:hover a {
  color: #cbf60c;
}

.submit_btn a {
  text-decoration: none;
  color: #e76d09;
  font-size: 30px;
}

.footer {
  height: 14vh;
  background-image: linear-gradient(
    to left,
    black,
    rgb(53, 53, 53) 50%,
    rgb(46, 43, 43) 100%
  );
}
