* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Logo */



/* main */

.main {
  background-image: linear-gradient(
    to left,
    black,
    rgb(28, 25, 25) 50%,
    rgb(46, 43, 43) 100%
  );

  position: relative;
  /* top: 14vh; */
}

.filter {
  display: flex;
  width: 176px;
  height: 50px;
  position: relative;
  top: 0px;
  left: 66px;
  background-color: #9b9bc6;
  justify-content: center;
  align-items: center;
}

/* .filter:hover {
  background-color: #e7bc13;
} */
/* .filter:hover .filteroption {
  background-color: aqua;
} */

.filter i {
  color: rgb(34, 67, 69);
}
.filterization {
  font-size: 19px;
  font-weight: bolder;
  position: relative;
  top: -1px;
  left: 5px;
  color: rgb(58, 49, 49);
}

.search-bar {
  display: flex;
  height: 50px;
  width: 100vw;
  background-color: #9e96c2;
  /* position: fixed; */
  z-index: 2;
}
.searchbar {
  height: 35px;
  width: 500px;
  background-color: rgb(53, 43, 43);
  color: rgb(220, 220, 34);
  padding: 9px;
  border-radius: 5px;
  position: relative;
  top: 7px;
  left: 685px;
}

.search-icon {
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 689px;
}

input {
  border: none;
  outline: none;
  background: none;
}

.filteroption {
  display: none;
  width: 400px;
  min-height: 80vh;
  position: fixed;
  top: 149px;
  background-color: #363131;
  z-index: 3;
}

.wrapper {
  /* margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px; */
  width: 400px;
  background-color: rgb(212, 163, 0);
  /* border-radius: 10px; */
  padding: 11px 17px 20px;
  border-bottom: 2px solid black;
}
.wrapper h2 {
  /* margin-top: 5px; */
  font-size: 17px;
  margin-left: 136px;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 12px 0 22px;
}
.field {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bolder;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 17px;

  text-align: center;
  margin-left: 12px;
  border-radius: 5px;
  border: 3px solid rgb(14, 13, 10);
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.separator {
  width: 130px;
  display: flex;
  font-size: 25px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 5px;
  border-radius: 5px;
  background: #c1e207dd;
  position: relative;
}
.progress {
  height: 5px;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #baf125;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  -webkit-appearance: none;
  pointer-events: auto;
  background: #0d0e0b;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;

  pointer-events: auto;
  -moz-appearance: none;
  background: #050604;
}

.hero {
  height: 420px;
  width: 100%;
  background-color: rgb(212, 163, 0);
  color: #0d0e0b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.herotext {
  font-size: 17px;
  font-weight: bolder;
  margin-top: 6px;
  margin-bottom: 7px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid black;
  background: rgb(228, 244, 1);
}
.container {
  width: 350px;
  padding: 5px 15px 0px;
  border: 3px solid #0d0e0b;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 6px 0;
  font-size: 17px;
  font-weight: bolder;
}
label {
  position: relative;
  width: 20px;
  height: 20px;
}
label input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
label span {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 3px solid #0d0e0b;
  border-radius: 6px;
  cursor: pointer;
}
label span::after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 3px;
  width: 0px;
  height: 0px;
  border: solid #08090b;
  border-width: 0 6px 6px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: width 0.5s, height 0.5s, opacity 0.5s;
}
.inputcheck:checked ~ span::after {
  width: 10px;
  height: 15px;
  opacity: 1;
}
.cartDiv1 {
  position: fixed;
  z-index: 8;
  left: 1200px;
}
.goto_cart1 {
  position: relative;
  display: flex;
  height: 54px;
  width: 127px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #35322d;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 16px;
  font-size: 19px;
  left: 0px;
  text-decoration: none;
  z-index: 10;
  padding: 5px;
}

.goto_cart1 i {
  color: black;
}
.goto_cart1 a {
  text-decoration: none;
}
.goto_cart1:hover {
  background-color: rgb(206, 235, 42);
}
.goto_cart1:hover .goToCart1 {
  background-color: rgb(206, 235, 42);
}

.goToCart1 {
  font-size: 19px;
  color: black;
  font-weight: bolder;
  background-color: #35322d;
  text-decoration: none;
  margin: 3px;
  border: none;
}
.cartDiv {
  position: fixed;
  z-index: 8;
  left: 1360px;
}
.goto_cart {
  position: relative;
  display: flex;
  height: 54px;
  width: 127px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #35322d;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 16px;
  font-size: 19px;
  left: 0px;
  text-decoration: none;
  z-index: 10;
  padding: 5px;
}

.goto_cart i {
  color: black;
}
.goto_cart a {
  text-decoration: none;
}
.goto_cart:hover {
  background-color: rgb(206, 235, 42);
}
.goto_cart:hover .goToCart {
  background-color: rgb(206, 235, 42);
}

.goToCart {
  font-size: 19px;
  color: black;
  font-weight: bolder;
  background-color: #35322d;
  text-decoration: none;
  margin: 3px;
  border: none;
}

.card-container {
  position: relative;
  top: 49px;
  min-height: 72vh;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-collapse: separate;
  grid-row-gap: 20px;
}

.card {
  min-height: 30vh;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid rgb(138, 143, 4);
  border-radius: 8px;
  padding: 4 rem;
  height: 100%;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in;
}
.card:hover {
  background: rgb(205, 173, 16);
}

.card-name {
  color: azure;
  margin-bottom: 0.5rem;
  margin: 20px;
  height: 55px;
}
.card-link {
  text-decoration: none;
}

.card-text {
  color: rgb(236, 227, 227);
  font-weight: bolder;
  font-size: 1.2rem;
  margin-left: 20px;
  margin-bottom: 3px;
}

.card-image {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  display: inline block;
  align-items: center;
}

.addtoCompare {
  height: 30px;
  width: 283px;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  background-color: rgb(58, 49, 49);
  position: relative;
  bottom: -14px;
}
.addtoCompare:hover {
  background-color: rgb(69, 67, 67);
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -26px;
  margin-bottom: 53px;
  width: 100%;
  margin-top: 52px;
}
.pagination {
  width: 775px;
  border-radius: 35px;
  box-shadow: 0 0 20px 5px rgb(3, 3, 43);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(63, 67, 70);
  padding: 10px;
  position: relative;
  top: 27px;
}

.pagination a {
  padding: 9px 10px;
  font-weight: 500;
  text-decoration: none;
  font-size: 25px;
  color: rgb(233, 152, 13);
  border-radius: 50%;
  transform: 0.5s ease-in-out;
}

.control {
  font-size: 25px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 25px;
  transform: 0.5s ease-in-out;
}

.disabled {
  color: rgba(12, 16, 41, 0.5);
  cursor: default;
}

.control:not(.disabled):hover,
pageNumbers a:hover {
  background-color: rgb(9, 9, 75);
  color: white;
}
a.active {
  background-color: rgb(9, 9, 75);
  color: white;
}

.hidden {
  display: none;
}

.footertop {
  height: 53px;
  background-image: linear-gradient(
    to left,
    black,
    rgb(28, 25, 25) 50%,
    rgb(46, 43, 43) 100%
  );
}

.

.button {
  display: flex;
  background-color: rgb(212, 163, 0);

  justify-content: space-evenly;
}

.submit-button {
  background-color: rgb(235 183 11);
  border: 3px solid black;
  color: rgb(0 0 0);
  padding: 10px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  margin: 2px;
  transition-duration: 0.4s;
  cursor: pointer;

  border-radius: 10px;
}
.submit-button:hover {
  background-color: rgb(179, 235, 11);
}
.reset-button {
  background-color: rgb(235 183 11);
  border: 3px solid black;
  color: rgb(0 0 0);
  padding: 10px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  margin: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}
.reset-button:hover {
  background-color: rgb(179, 235, 11);
}

/* 
<div class="product">
          <i class="fa-solid fa-shop" style="display: inline"></i>
          <p class="registration" style="display: inline">Products</p>
          <div class="product-content">
            <a href="../product/product.html">MONITOR</a>
            <a href="../cpu_page/cpu.html">CPU</a>
            <a href="../ram_page/ram.html">RAM</a>
            <a href="../signUp/signup.html">ROM</a>
            <a href="../gpu_page/gpu.html">GPU</a>
          </div>
        </div> */
