* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.navbar {
  height: 12vh;
/* background-image: linear-gradient(
  to left,
  black,
  rgb(28, 25, 25) 30%,
  rgb(46, 43, 43) 100%
); */
display: flex;
align-items: center;
justify-content: space-between;
}



.nav-button {
width: 300px;
display: flex;
align-items: center;
justify-content: space-evenly;
text-decoration: none;
/* margin-left: 560px; */
list-style: none;
}

.home a {
color: rgb(146, 146, 224);
text-decoration: none;
list-style: none;
font-weight: bolder;
}
.about a {
color: white;
text-decoration: none;
font-weight: bolder;
}

.nav-button i:hover {
color: rgb(146, 146, 224);
}

.about a:hover {
color: black;
}
.contact a:hover {
color: black;
}

.contact a {
color: white;
text-decoration: none;
font-weight: bolder;
}

.nav-button i {
color: white;
}

.nav-product {
width: 100px;
/* margin-left: 50px; */
/* margin-right: 20px; */
}

.product {
color: white;
font-weight: bolder;
width: 86px;
position: relative;
text-align: center;
margin-bottom: 0px;
z-index: 2;
}

.product:hover {
top: 66px;
}

.product:hover .product-content {
display: inline;
}

.product-image {
display: inline;
}
.product a {
text-decoration: none;
}
.product-text {
color: white;
display: inline;
}

.product-content {
display: none;
}

.product-content a {
display: inline-block;
width: 100%;
text-align: center;
background-color: rgb(223, 223, 20);
color: rgb(26, 21, 21);
text-decoration: none;
font-weight: bolder;
margin-bottom: 5px;
border: 2px solid rgb(201, 184, 184);
border-radius: 2px;
}

/* .product:hover .product-content a :hover {
  background-color: rgb(21, 116, 26);
} */


.dropdown-container {
width: 80px;
position: relative;
text-align: center;
color: white;
font-weight: bolder;
margin-bottom: px;
z-index: 2;
}

.dropdown-container:hover {
top: 26px;
}

.dropdown-container:hover .dropdown-content {
display: inline;
}

.registration {
margin-bottom: 5px;
}

.dropdown-content {
display: none;
}

.dropdown-content a {
display: inline-block;
width: 100%;
text-align: center;
background-color: rgb(148, 141, 131);
color: white;
text-decoration: none;
font-weight: bolder;
margin-bottom: 5px;
border: 2px solid rgb(201, 184, 184);
border-radius: 2px;
}
.cartDiv1 {
position: fixed;
z-index: 8;
right: 20px; /* Fixed distance from the right edge */
bottom: 20px; /* Fixed distance from the bottom edge */;
}
.goto_cart1 {
display: flex;
flex-direction: column;
height: 62px;
width: 60px;
justify-content: center;
align-items: center;
background-color: #353573;
border: 2px solid black;
border-radius: 16px;
font-size: 14px;
padding: 5px;
}

.goto_cart1 i {
color: white;
}
.goto_cart1 a {
text-decoration: none;
}

.goToCart1 {
font-size: 12px;
font-weight: bolder;
margin: 3px;
}



/* main */

.main {
  position: relative;
  /* top: 14vh; */
  /* min-height: 106vh; */
  padding: 10px;
}

/* .card-container {
  position: relative;
  top: 49px;
  min-height: 80vhvh;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-collapse: separate;
  grid-row-gap: 20px;
} 
/* .info {
  min-height: 50vh;
  min-width: 80vw;
  display: flex;
  justify-content: center;
  margin-bottom: 9px;
} */
.imagediv {
  position: relative;
  width: 360px;
  top: 10px;
  align-items: center;
  display: inline;
}
/* .divinfo {
  width: 701px;
  height: 369px;
  position: relative;
  top: 20px;
  left: 27px;
} */

/* .card {
  min-height: 30vh;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid rgb(138, 143, 4);
  border-radius: 8px;
  padding: 4 rem;
  height: 100%;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in;
} */

.card-link {
  text-decoration: none;
}



.sourceLink {
  text-decoration: none;
  position: relative;
  top: -500px;
  left: 1040px;
  display: inline-block;
}
/* .cartLink {
  color: #20204E;
  font-weight: bold;
  padding: 6px 20px;
  background-color: #E0E0E0;
  border-radius: 0.5rem; /* Equivalent to 'rounded-lg' 
 
} 
*/
.plus_minus {
  position: relative;
  top: -175px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100px;
  left: 1070px;
}


.cart {
  text-decoration: none;
  position: relative;
  top: -180px;
  left: 1050px;
  display: inline-block;
}



.plus {
  color: black;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid black;
  width: 30px;
}
.plus:hover {
  background-color: rgb(130, 130, 128);
  cursor: pointer;
}
.minus:hover {
  background-color:  rgb(130, 130, 128);
  cursor: pointer;
}

.addtocart:hover {
  background-color:  rgb(127, 127, 121);
  cursor: pointer;
}

.plus_minus p {
  color: black;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  margin: 2px;
  width: 30px;
  text-align: center;
}
.minus {
  color: black;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  width: 30px;
}


.description {
  background-color: white;
  border: 1px solid black;
  margin-bottom: 20px;
  /* margin-top: -35px; */
  /* width: 98vw; */
  width: 95%;
  margin: auto;
  border-radius: 12px;
}

.description_header {
  font-size: 26px;
  margin-top: 12px;
  margin-left: 16px;
  margin-bottom: 4px;
  font-weight: bolder;
}
.description_text {
  font-size: 17px;
  color: #000000;
  margin: 8px;
  margin-bottom: 13px;
}
.comment-box {
  padding: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  margin: 19px;
}
.user {
  display: flex;
  align-content: center;
  margin-left: 5px;
}

.comment-box textarea {
  background-color: #F3F3F3;
  width: 65vw;
  height: 131px;
  margin-left: 10px;
  /* margin: 15px 0px; */
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 0 0 0.5px #0003;
  color: #000000;
  font-size: 19px;
}

.comment-submit {
  position: relative;
  color: white;
  background-color: rgba(28, 28, 68, 0.6); /* Adds the background color */
  top: -15px;
  left: 10px;
  border-radius: 6px;
  height: 40px;
  width: 78px;
  border: none;
  font-size: 16px;
}

.comment-submit:hover {
  background-color: #0c213fed;
  height: 47px;
  width: 89px;
}


/* .footertop {
  height: 53px;
  background-image: linear-gradient(
    to left,
    black,
    rgb(28, 25, 25) 50%,
    rgb(46, 43, 43) 100%
  );
} */

.footer {
  position: relative;
  height: 14vh;
  top: 5vh;
  background-image: linear-gradient(
    to left,
    black,
    rgb(53, 53, 53) 50%,
    rgb(46, 43, 43) 100%
  );
}

.comment-section {
  margin-top: -50px;
}

.comment-container {
  min-height: 200px;
  /* overflow-y: scroll; */
  border: 1px solid black;
  padding: 10px;
  margin: 9px;
  margin-left: 27px;

  background-color: white;
  width: 95%;
  margin: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

.comment-area {
  resize: vertical; /* Allow vertical resizing */
  border: 1px solid black;
  outline: none;
  font-size: 14px;
  padding: 5px;
  width: 95%;
  margin: auto;
  border-radius: 12px;
}


.comment-section-header {
  color: black;
  margin-left: 40px;
  font-size: 28px;
  font-weight: bold;

}
.comment-area-div {
  display: flex;
  align-items: center;
  margin-bottom: -3px;
  margin-top: 6px;
}
.comment-area-div i {
  margin-right: 10px;
  color: rgb(141, 25, 25);
  margin-left: 6px;
}

.comment-area-text {
  color: rgb(141, 25, 25);
  font-size: 20px;
  font-weight: bolder;
}
.comment-container-text {
  color: #000000;
  margin-top: 11px;
  margin-left: 48px;
  font-size: 20px;
  border: 1px solid black;
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
}
/* 
    <div class="product">
              <i class="fa-solid fa-shop" style="display: inline"></i>
              <p class="registration" style="display: inline">Products</p>
              <div class="product-content">
                <a href="../product/product.html">MONITOR</a>
                <a href="../cpu_page/cpu.html">CPU</a>
                <a href="../ram_page/ram.html">RAM</a>
                <a href="../signUp/signup.html">ROM</a>
                <a href="../gpu_page/gpu.html">GPU</a>
              </div>
            </div> */
