* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Logo */

.navbar {
  height: 14vh;
  background-image: linear-gradient(
    to left,
    black,
    rgb(28, 25, 25) 30%,
    rgb(46, 43, 43) 100%
  );
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  color: white;
  width: 120px;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 100px;
}

.nav-button {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  margin-left: 560px;
  list-style: none;
}

.home a {
  color: rgb(146, 146, 224);
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
}
.about a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.nav-button i:hover {
  color: rgb(146, 146, 224);
}

.about a:hover {
  color: rgb(146, 146, 224);
}
.contact a:hover {
  color: rgb(146, 146, 224);
}

.contact a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.nav-button i {
  color: white;
}

.nav-product {
  width: 100px;
  margin-left: 50px;
  margin-right: 20px;
}

.product {
  color: white;
  font-weight: bolder;
  width: 86px;
  position: relative;
  text-align: center;
  margin-bottom: 0px;
  z-index: 2;
}

.product:hover {
  top: 66px;
}

.product:hover .product-content {
  display: inline;
}

.product-image {
  display: inline;
}
.product a {
  text-decoration: none;
}
.product-text {
  color: white;
  display: inline;
}

.product-content {
  display: none;
}

.product-content a {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: rgb(223, 223, 20);
  color: rgb(26, 21, 21);
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 5px;
  border: 2px solid rgb(201, 184, 184);
  border-radius: 2px;
}

/* .product:hover .product-content a :hover {
      background-color: rgb(21, 116, 26);
    } */
.nav-authentication {
}

.dropdown-container {
  width: 80px;
  position: relative;
  text-align: center;
  color: white;
  font-weight: bolder;
  margin-bottom: px;
  z-index: 2;
}

.dropdown-container:hover {
  top: 26px;
}

.dropdown-container:hover .dropdown-content {
  display: inline;
}

.registration {
  margin-bottom: 5px;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: rgb(148, 141, 131);
  color: white;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 5px;
  border: 2px solid rgb(201, 184, 184);
  border-radius: 2px;
}
.cartDiv1 {
  position: fixed;
  z-index: 8;
  left: 1370px;
}
.goto_cart1 {
  position: relative;
  display: flex;
  height: 54px;
  width: 127px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #35322d;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 16px;
  font-size: 19px;
  left: 0px;
  text-decoration: none;
  z-index: 10;
  padding: 5px;
}

.goto_cart1 i {
  color: black;
}
.goto_cart1 a {
  text-decoration: none;
}
.goto_cart1:hover {
  background-color: rgb(206, 235, 42);
}
.goto_cart1:hover .goToCart1 {
  background-color: rgb(206, 235, 42);
}

.goToCart1 {
  font-size: 19px;
  color: black;
  font-weight: bolder;
  background-color: #35322d;
  text-decoration: none;
  margin: 3px;
  border: none;
}
.cartDiv {
  position: fixed;
  z-index: 8;
  left: 1360px;
}
.goto_cart {
  position: relative;
  display: flex;
  height: 54px;
  width: 127px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #35322d;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 16px;
  font-size: 19px;
  left: 0px;
  text-decoration: none;
  z-index: 10;
  padding: 5px;
}

.goto_cart i {
  color: black;
}
.goto_cart a {
  text-decoration: none;
}
.goto_cart:hover {
  background-color: rgb(206, 235, 42);
}
.goto_cart:hover .goToCart {
  background-color: rgb(206, 235, 42);
}

.goToCart {
  font-size: 19px;
  color: black;
  font-weight: bolder;
  background-color: #35322d;
  text-decoration: none;
  margin: 3px;
  border: none;
}

/* main */

.main {
  height: 72vh;
  background-image: linear-gradient(
    to left,
    black,
    rgb(28, 25, 25) 50%,
    rgb(46, 43, 43) 100%
  );
  position: relative;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  height: 421px;
  position: relative;
  top: 45px;
}

.profilePic-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-bottom: 10px;
  font-size: 25px;
}
.email {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add some spacing between sections */
}

.editProfile {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add some spacing between sections */
}

.changePassword {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add some spacing between sections */
}

.hello {
  margin: 0px;
}
.naming {
  color: #e0e0e0;
}

.userName {
  margin: 0;
  color: #bdc3c7;
  font-size: 24px;
}
.email-text {
  margin: 0;
  color: #bdc3c7; /* Lighter gray text color */
  font-size: 30px;
}
.editProfile_text {
  margin: 0;
  color: #bdc3c7; /* Lighter gray text color */
  font-size: 25px;
}
.changePassText {
  margin: 0;
  color: #bdc3c7; /* Lighter gray text color */
  font-size: 25px;
}

.editProfile_text:hover,
.changePassText:hover {
  color: #3498db;
}

.icon-color {
  color: white;
  font-size: 40px;
  margin-right: 10px;
}
.footer {
  height: 14vh;
  background-image: linear-gradient(
    to left,
    black,
    rgb(53, 53, 53) 50%,
    rgb(46, 43, 43) 100%
  );
}
